<section id="contact">
  <div class="container">
    <form class="w-66 form form-contact" action="https://formspree.io/mwkkjeyo" method="POST">
      <h1 class="font-xl my-4">Drop us a line.</h1>
      <div class="contact-input items-center my-5">
        <label class="" for="name">Name</label>
        <input class="font-md border-none w-100 p-3" id="Name" name="name" type="text">
      </div>
      <div class="contact-input items-center my-5">
        <label class="" for="email" >Email</label>
        <input class="font-md border-none w-100 p-3" id="email" name="_replyto" type="email">
      </div>
      <div class="contact-input items-center my-5">
        <label class="" for="projectname">Project Name</label>
        <input class="font-md border-none w-100 p-3" id="projectname" name="projectname" type="text">
      </div>
      <div class="contact-input items-center my-5">
        <label class="" for="message">Tell us about your project</label>
        <textarea class="font-md border-none w-100 p-3" name="message" id="message"></textarea>
      </div>
      <div class="flex items-center justify-between">
        <button class="button inline-block text-sm px-4 p-3 text-white font-md" type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
