<!-- <nav class="flex items-center justify-between flex-wrap p-4">
    <div class="flex items-center flex-shrink-0 text-white mr-4">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      {% assign titles_size = site.pages | map: 'title' | join: '' | size %}
      <a class="font-bold font-lg" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <div class="flex flex-grow-1 w-auto block items-center">
      {% if titles_size > 0 %}
        <div class="flex-grow-1">
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <a href="#" class="button inline-block text-sm px-4 py-2 text-white">Contact Us</a>
    </div>
</nav> -->
